body {
  margin: 0;
  font-family: Arial;
  padding: 20px;
  background: #f5f5f5;
  color: #222;
  transition: 0.3s;
}

body.dark {
  background: #111;
  color: #eee;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  margin-top: 40px;
}

.project-card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  transition: 0.3s;
}

body.dark .project-card {
  background: #222;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

input, textarea {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
}

button {
  padding: 10px;
  background: rgb(0, 115, 255);
  color: white;
  border: none;
  border-radius: 6px;
}
